{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/cc1.css' %}">
    <link rel="stylesheet" href="{% static 'css/cc2.css' %}">
</head>
<body>
    <center>
        <h1>Multiple Operation On App2</h1>
        <h2>Hardik</h2>
        <img src="{% static 'images/rohi_4.jpg' %}"
    </center>
</body>
</html>